	body{
		background-image: url("https://media.istockphoto.com/id/1177980696/vector/abstract-grey-and-white-tech-geometric-corporate-design-background-eps-10-vector-illustration.jpg?s=612x612&w=0&k=20&c=c5GJdHR1IhWJQ8K5QoY6iVgcG6L7udwtVpQRQHmI0xk=");
		background-size:cover;
		background-repeat:no repeat;
		background-attachment: fixed;
		
	}
	